:root {
    --primary-font: "Yeseva One", serif;
    --color-dark-blue: #1F2B6C;
    --color-dark-hover: #1f2b6ca8;
    --color-blue-card-info: #2c3e50;
    --color-card-info: #7f8c8d;
    --color-background-card: #7dbeff25;
    --color-light-blue: #159EEC;
    --color-azul-calcinha: #BFD2F8;
    --color-dark-gray: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    scroll-behavior: smooth;
}

.img-servicos {
    width: 100%;
    display: block;
}

/* Seção com imagem e texto lado a lado */
.team-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #f9f9f9;
    padding: 40px 5%;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-servico {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-background-card);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card-servico:hover {
    transform: translateY(-10px);
}

.card-servico.reversed {
    flex-direction: row-reverse;
}

.imgCard-servico {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-servico {
    flex: 1.2;
}

.content-servico {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.content-servico h3 {
    font-size: 38px;
    font-family: var(--primary-font);
    font-weight: bold;
    color: var(--color-dark-blue);
}

.content-servico p {
    color: #1f1f1f;
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 1.6;
}

.team-button {
    background-color: transparent;
    color: var(--color-light-blue);
    border: 2px solid var(--color-dark-gray);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.team-button:hover {
    background-color: var(--color-light-blue);
    color: #fff;
}

.tittle-contato {
    color: var(--color-light-blue);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.team-title {
    color: var(--color-dark-blue);
    font-family: var(--primary-font);
    margin-top: 10px;
    font-size: 32px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .card-servico, .card-servico.reversed {
        flex-direction: column;
    }

    .image-servico, .content-servico {
        width: 100%;
    }

    .content-servico h3 {
        font-size: 28px;
    }

    .content-servico p {
        font-size: 18px;
    }
}
