.container-page-cadastro {
  position: relative;
}

.formulario-cadastro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.container-formulario-cadastro {
  position: absolute;
  top: 20px;
  right: 5%;
  width: 35%;
  padding: 2%;
  text-align: justify;
  background-color: #1f2b6c;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #1f2b6c;

}

.title-cadastro {
  text-align: center;
  font-weight: 800;
  letter-spacing: 4px;
}

.input-cadastro {
  display: block;
  background-color: #bfd2f8;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
}

.input-cadastro::placeholder {
  color: black;
}

.text-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn-cadastro {
  width: 100%;
  padding: 16px;
  margin-top: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4px;
  font-size: 14px;
  background-color: #bfd2f8;
  color: black;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #1f2b6c;
  transition: 0.3s;
  grid-column: span 2;
  width: 100%;
}

.btn-cadastro:hover {
  background-color: #1f2b6c;
  color: white;
}

.container-imagem-fundo{
  width:  90%;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #333333;
  max-width: 400px;
  width: 90%;
}

.popup-content span {
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}

.popup-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--color-light-hover);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.popup-content button:hover {
  background-color: #0056d2;
}