.container-page-cadastro {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: url('../../img/Paciente.png') no-repeat center center;
  background-size: cover;
}

.container-formulario-cadastro {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background-color: rgba(31, 43, 108, 0.95);
  color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(31, 43, 108, 0.6);
  box-sizing: border-box;
  margin-left: 50%;
}

.title-cadastro {
  text-align: center;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-size: 1.8rem;
}

.text-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.text-field label {
  font-weight: 600;
  font-size: 0.9rem;
}

.input-cadastro {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #bfd2f8;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.btn-prev,
.btn-next,
.btn-submit {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-prev {
  background-color: #6c757d;
  color: white;
  margin-top: 8px;
  height: 6vh;
}

.btn-next {
  background-color: #4d56df;
  color: white;
}

.btn-submit {
  width: 100%;
  height: 6vh;
  background-color: #1db641 !important;
  color: white;
 align-items: center;
}

.btn-prev:hover {
  background-color: #5a6268 ;
}

.btn-next:hover {
  background-color: #3d46c5;
}

.btn-submit:hover {
  background-color: #0b4115 !important;
}

.progress-steps {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.step-indicator {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #6c757d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.step-indicator.active {
  background-color: #4d56df;
}

@media (max-width: 768px) {
  .container-formulario-cadastro {
    padding: 20px;
    max-width: 90%;
  }

  .title-cadastro {
    font-size: 1.5rem;
  }

  .form-navigation {
    flex-direction: column;
    gap: 10px;
  }

  .btn-prev,
  .btn-next,
  .btn-submit {
    width: 100%;
  }
}