:root {
  --primary-font: "Yeseva One", serif;
  --color-dark-blue: #1F2B6C;
  --color-dark-hover: #1f2b6ca8;
  --color-blue-contact: #0056b3;
  --color-hover: #4b5dff9d;
  --color-cadastro-hover: #4687ff;
  --color-text: #fff;
  --color-top-gray: #4a4a4a;
}

/* General Styles */
.header {
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #f9f9f9;
  font-size: 14px;
  color: var(--color-top-gray);
}

.logo {
  display: flex;
  align-items: center;
  width: 15%;
}

.logo-img {
  width: 100%;
  max-width: 150px;
}

.contact-info {
  display: flex;
  gap: 30px;
  color: var(--color-blue-contact);
}

.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-img {
  font-size: 20px;
  color: var(--color-dark-blue);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #2650d8, #1F2B6C);
  padding: 12px 40px;
  color: var(--color-text);
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  font-size: 16px;
  color: var(--color-text);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.nav-links a:hover {
  background-color: var(--color-dark-hover);
  transform: translateY(-2px);
}

/* Login & Cadastro Buttons */
.container-login-cadastro {
  display: flex;
  gap: 15px;
  align-items: center;
}

.login-button,
.cadastro-button,
.btn-sair-perfil{
  padding: 10px 24px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: var(--color-text);
  background-color: var(--color-hover);
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.login-button:hover,
.cadastro-button:hover,
.btn-sair-perfil:hover{
  background-color: var(--color-cadastro-hover);
  transform: translateY(-3px);
}

/* Botão de Sair */
/* .btn-sair-perfil {
  padding: 10px 24px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: var(--color-text);
  background: linear-gradient(135deg, #ff4b2b, #ff416c);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(255, 65, 108, 0.3);
}

.btn-sair-perfil:hover {
  background: linear-gradient(135deg, #ff3a1e, #ff3060);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(255, 65, 108, 0.4);
}

.btn-sair-perfil:active {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(255, 65, 108, 0.2);
} */


/* Perfil do usuário */
.perfil-usuario {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nome-usuario {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-text);
  margin: 0;
}


.foto-de-Perfil{
  width: 40px;
}