:root {
  --primary-font: "Yeseva One", serif;
  --color-dark-blue: #1F2B6C;
  --color-dark-hover: #1f2b6ca8;
  --color-blue-card-info: #2c3e50;
  --color-card-info: #7f8c8d;
  --color-background-card: #6fb7ff59;
  --color-light-blue: #159EEC;
  --color-blue-contact: #0056b3;
  --color-cadastro-hover: #4687ff;
  --color-light-hover: #81a7ff;
  --color-azul-calcinha: #BFD2F8;
  --color-top-gray: #4a4a4a;
  --color-dark-gray: #333;
  --color-hover: #4b5dff9d;
  --color-text: #fff;
}
 
/* General Styles */
.header {
  width: 100%;
}
 
/* Top Bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 40px;
  background-color: white;
  color: var(--color-top-gray);
  font-size: 14px;
}
 
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 15%;
}
 
.logo-img {
  width: 100%;
}
 
.contact-info {
  display: flex;
  gap: 20px;
  color: var(--color-blue-contact);
}
 
.info-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 50px;
}
 
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #2650d8, #1F2B6C);
  padding: 15px 40px;
  color: white;
}
 
.nav-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
 
.nav-links a:hover {
  color: #ccc;
}
 
.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
 
.search-icon {
  cursor: pointer;
}
 
.botao-login-cadastro, .botao-login{
  background-color: var(--color-azul-calcinha);
  border: none;
  padding: 8px 40px;
  border-radius: 30px;
  width: auto;
  margin-right: 0;
  color: var(--color-dark-blue);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.container-login-cadastro {
  display: flex;
  gap: 15px;
  align-items: center;
}

.login-button {
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  color: var(--color-text);
  display: inline-block;
}

.cadastro-button {
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  color: var(--color-text);
  display: inline-block;
}

.login-button {
  background-color: var(--color-hover);
}

.cadastro-button {
  background-color: var(--color-hover);
}

.login-button:hover,
.cadastro-button:hover {
  background-color: var(--color-cadastro-hover);
  transform: translateY(-3px);
}

 
.container-login-cadastro {
  display: flex;
  gap: 20px;
}
 
.botao-login-cadastro{
  width: 200px;
}

.perfil-usuario{
  display: flex;

}
.nome-usuario{
  margin-right: 150px;
}

.btn-sair-perfil{
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  color: var(--color-cadastro-hover);
  display: inline-block;
}
