/** Footer.css */
:root {
  --primary-font: "Yeseva One", serif;
  --color-dark-blue: #1F2B6C;
  --color-dark-hover: #1f2b6ca8;
  --color-blue-card-info: #2c3e50;
  --color-card-info: #7f8c8d;
  --color-background-card: #7dbeff25;
  --color-light-blue: #159EEC;
  --color-azul-calcinha: #BFD2F8;
  --color-dark-gray: #333;
}

.footer {
  background: linear-gradient(to right, #1F2B6C, #1e40af);
  color: white;
  padding: 2rem 0;
}

.footer-logo {
  margin-left: -20px; /* Move logo slightly to the left */
}
.footer h3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer a:hover {
  text-decoration: underline;
}
.footer p {
  margin: 0.5rem 0;
}
.newsletter-box {
  display: flex;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.newsletter-box input {
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem 0 0 0.5rem;
}
.newsletter-box button {
  background-color: #2563eb;
  padding: 0.75rem;
  border: none;
  color: white;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}
.newsletter-box button:hover {
  background-color: #1e3a8a;
}
.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  font-size: 0.875rem;
  flex-wrap: wrap;
}
.footer-social {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}
.footer-social svg:hover {
  color: #d1d5db;
}
