/* Footer.css */

:root {
  --primary-font: "Yeseva One", serif;
  --color-dark-blue: #1F2B6C;
  --color-dark-hover: #1f2b6ca8;
  --color-blue-card-info: #2c3e50;
  --color-card-info: #7f8c8d;
  --color-background-card: #7dbeff25;
  --color-light-blue: #159EEC;
  --color-azul-calcinha: #BFD2F8;
  --color-dark-gray: #333;
}

.footer {
  background-color: var(--color-dark-blue);
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.logo-footer {
  width: 210px;
  display: block;
  margin: 0 auto;
}


.footer-links{
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-contact{
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-newsletter {
  font-size: 16px;
  margin-bottom: 10px;
}

.sub-bold{
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.footer-links li a:hover {
  text-decoration: underline;
}

.footer-contact p {
  font-size: 14px;
  margin: 5px 0;
}

.newsletter-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.newsletter-box input {
  border: none;
  outline: none;
  padding: 8px;
  width: 190px;
}

.newsletter-box button {
  background: none;
  border: none;
  color: var(--color-dark-blue);
  cursor: pointer;
  font-size: 18px;
}

hr {
  border: 0.5px solid white;
  margin: 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  font-size: 14px;
}

.footer-partners {
  font-weight: bold;
}

.footer-social {
  display: flex;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-bottom {
      flex-direction: column;
      text-align: center;
  }

  .footer-social {
      justify-content: center;
      margin-top: 10px;
  }
}
