
:root {
    --primary-font: "Yeseva One", serif;
    --second-font: "Ysabeau Infant", serif;
    --color-dark-blue: #1F2B6C;
    --color-dark-hover: #1f2b6ca8;
    --color-blue-contact: #0056b3;
    --color-hover: #4b5dff9d;
    --color-cadastro-hover: #4687ff;
    --color-text: #fff;
    --color-top-gray: #4a4a4a;
  }
  

.imagem-fundo-login {
    object-fit: cover;
    height: 70vh;
}

.container-login {
    width: 30%;
    position: absolute;
    top: 30%;
    right: 10%;
    background-color: #1f2b6c;
    padding: 2%;
    color: white;
    text-align: center;
    border-radius: 10px;

}

.form-login {
    margin-top: 10%;
}

.btn-cadastro {
    width: 100%;
    padding: 16px;
    margin-top: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    font-size: 14px;
    background-color: #bfd2f8;
    color: black;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #1f2b6c;
    transition: 0.3s;
}


.btn-forgot-password {
    margin-top: 10px;
    background: none;
    border: none;
    color: #bfd2f8;
    cursor: pointer;
    text-decoration: underline;
}

.forgot-password-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-content {
    background-color: white;
    padding: 20px;
    opacity: 92%;
    border-radius: 10px;
    text-align: center;
}

.forgot-password-content h2 {
    margin-bottom: 20px;
    color: #1f2b6c;
}

.forgot-password-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password-content button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1f2b6c;
    color: white;
}

.forgot-password-content button:hover {
    background-color: #159EEC;
}

.title-email{
    font-family: var(--second-font);
}

